<div class="main_details">
    <h2>{{title}}</h2>

    <div class ="arrange_image">
    {{#if thumbnail}}
    <img class="image_details" src={{thumbnail}} width="600px">
    {{/if}}
    {{#unless thumbnail}}
    <img class="image_details" src="/images/404.png" width="600px">
    {{/unless}}
     <div class ="main_publisher">
     <div class="publisher"><b>Publisher: </b>
     {{publisher}}
     </div>
     <form action="/addFreeGame/{{id}}" method="post">
     <div class="release_date"><b>Released Date</b> <br>{{release_date}}</div>
     {{#if game_url}}
     <a class ="website" target="_blank" href="{{game_url}}"><b>Website</b></a>
     {{/if}}

    {{#if metacritic}}
    <div class="rating"><b>Rating:</b>{{metacritic}}</h3>
    </div>
    {{/if}}
    <div class="submit_form">
     <button class="like_button" type ="submit"><img class ="like_button_image"src="/images\logo2.png"></button>
     <span><b>Add to My Games</b></span>
     </div>
     </form>
     </div>
     </div>

    <div class="game_genre">

    {{genre}}
   
    </div>
    

    <div class="platforms"><b>Available on</b><br>
   
    {{platform}}
    
    </div>

    <div class="description">{{short_description}}</div>