    <div class="main_details">

    <div class ="first_details">
    <h3>Game title:{{name}}</h3>
    <img src ={{background_image}} width="500px">
    </div>

    <div class="details">

    <h3>
    Genre: {{#each genres}}
    {{name}}
    {{/each}}
    </h3>
    


    <h3>
    Platform: {{#each platforms}}
    {{platform.name}}
    {{/each}}

    </h3>
    
    <div>Description: {{{description}}}</div>

     {{#if website}}
    <a target="_blank" href="{{website}}">Website</a>
     {{/if}}

    {{#if metacritic}}
    <h3>Rating:{{metacritic}}</h3>
    {{/if}}

    <h3>Released Date</h3>
    <p>{{released}}</p>

    <h3>Publisher</h3>
    {{#each publishers}}
    <p>{{name}}</p>
    {{/each}}

    <form action="/addGame/{{id}}" method="post">
    <button type ="submit">Add to Favorites</button>
    </form>
    </div>

</div>
    


