<h1>Game list</h1>

{{#each games}}
<img src={{background_image}} alt="" width="200px">
<h3>{{name}}</h3>
<p>{{genres.0.name}}</p>
{{#if genres.1.name}}
<p>{{genres.1.name}}</p>
{{/if}}
<a href="/details/{{id}}">Go to details</a>
{{/each}}

<form action="/search/page/{{page}}/{{gameName}}/next" method="post">
  <button type="submit">next Page</button>
</form>
<form action="/search/page/{{page}}/{{gameName}}/previous" method="post">
  <button type="submit">previous Page</button>
</form>
