<h1>Game Details</h1>

<div>
    <img src ={{background_image}} width="500px">
    <h3>Game title:{{name}}</h3>


    <h3>Genre</h3>
    {{#each genres}}
    <p>{{name}}</p>
    {{/each}}


    <h3>Platform</h3>
    {{#each platforms}}
    <p>{{platform.name}}</p>
    {{/each}}

    <h3>Description: </h3>
    <p>{{{description}}}</p>

     {{#if website}}
    <a target="_blank" href="{{website}}">Website</a>
     {{/if}}

    {{#if metacritic}}
    <h3>Rating:{{metacritic}}</h3>
    {{/if}}

    <h3>Released Date</h3>
    <p>{{released}}</p>

    <button class ="addFavorites">Add to Favorites</button>
    


    

</div>
