

<div>
    <h3>Game title:{{name}}</h3>
    <img src ={{background_image}} width="500px">
    

    <h3>Genre</h3>
    {{#each genres}}
    <p>{{name}}</p>
    {{/each}}


    <h3>Platform</h3>
    {{#each platforms}}
    <p>{{platform.name}}</p>
    {{/each}}

    <h3>Description: </h3>
    <p>{{{description}}}</p>

     {{#if website}}
    <a target="_blank" href="{{website}}">Website</a>
     {{/if}}

    {{#if metacritic}}
    <h3>Rating:{{metacritic}}</h3>
    {{/if}}

    <h3>Released Date</h3>
    <p>{{released}}</p>

    <h3>Publisher</h3>
    {{#each publishers}}
    <p>{{name}}</p>
    {{/each}}

    <form action="/addGame/{{id}}" method="post">
    <button type ="submit">Add to Favorites</button>
    </form>


    

</div>
