<h1>Game Details</h1>
{{#each games}}
<div>
    <p>Image:{{image}}</p>
    <h3>Game title:{{title}}</h3>
    <p>Genre:{{genre}}</p>
    <p>Platform:{{platform}}</p>
    <p>Description:{{description}}</p>
    <p>Game_URL:{{game_URL}}</p>
    <p>Rating:{{rating}}</p>

</div>
{{/each}}