<div class="page-btn-div">
  <p>{{numOfGames}} Games</p>

  <form action="/search/{{page}}/{{gameName}}/previous" method="post">
    <button type="submit" class="page-btn">previous</button>
  </form> 

  <form action="/search/{{page}}/{{gameName}}/next" method="post">
    <button type="submit" class="page-btn">next</button>
  </form>


  <p>Page: {{page}}/{{numOfPages}}</p>
</div>


<div class="container">
  {{!-- {{#each games}}
  <img src={{background_image}} alt="" width="200px">
  <h3>{{name}}</h3>
  <p>{{genres.0.name}}</p>
  {{#if genres.1.name}}
  <p>{{genres.1.name}}</p>
  {{/if}}
  <a href="/details/{{id}}">Go to details</a>
  {{/each}} --}}
  <div class="row justify-content-around">
  {{#each games}}
  <div class="card" style="width: 18rem;">
  <img src={{background_image}} class="card-img-top" alt="..." style="max-height: 10rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <hr>
    {{#if genres.1.name}}
    <p class="card-text">{{genres.0.name}} || {{genres.1.name}}</p>
    {{/if}}
    {{#unless genres.1.name}}
    <p class="card-text">{{genres.0.name}}</p>
    {{/unless}}
  </div>
    <a href="/details/{{id}}" class="page-btn">Go to details</a>
  </div>
  {{/each}}
</div>

</div>

<div class="page-btn-div">
  <form action="/search/{{page}}/{{gameName}}/previous" method="post">
    <button type="submit" class="page-btn">previous</button>
  </form> 

  <form action="/search/{{page}}/{{gameName}}/next" method="post">
    <button type="submit" class="page-btn">next</button>
  </form>
</div>

