<h2>HELLOOOO</h2>

<div class="container">
  <div class="row justify-content-around">
  {{#each userGames}}
  <div class="card" style="width: 18rem;">
  {{#if image}}
  <img src={{image}} class="card-img-top" alt="Game Photo" style="max-height: 10rem;">
  {{/if}}
  {{#unless image}}
  <img src="/images/404.png" class="card-img-top" alt="Game Photo" style="max-height: 10rem;">
  {{/unless}}
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <hr>
    {{!-- {{#if genres.1.name}}
    <p class="card-text">{{genres.0.name}} || {{genres.1.name}}</p>
    {{/if}}
    {{#unless genres.1.name}} --}}
    <p class="card-text">{{genre}}</p>
    {{!-- {{/unless}} --}}
  </div>
    <a href="/details/{{_id}}" class="page-btn">Go to details</a>
  </div>
  {{/each}}
</div>
</div>